div {
    border-width: 2px !important;
}

.toolbox {
    padding: 4px;
}

.w-100 {
    background-color: #f2f2f2 !important;
}

.toolkit {
    border: 1px solid #007bff;
    border-radius: 5px;
}

.toolkit .left-icon {
    text-align: center;
}

.highlight {
    border-color:#007bff;
}

.rdt_TableCol_Sortable, .rdt_TableCell{
    font-size:16px;
}

.rdt_TableHeadRow {
    background-color: #fafafa !important;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    padding: 0 0 !important;
    text-align: center;
    margin: auto;
}

.row .grid-divider > [class*="col-"]:nth-child(n + 2):after {
    content: "";
    background-color: #007bff;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
}

.highlight > [class*="col-"]:nth-child(n + 2):after {
    background-color: #007bff !important;
}

.grid-divider {
    /* overflow-x: hidden; */
    position: relative;
}
  
.highlight > [class*="col-"]:nth-child(n + 2):after {
    background-color: #007bff !important;
}

.dropdown-heading {
    border: none !important;
    border-radius: 4px;
}

@media (max-width: 767px) {
    .grid-divider > [class*="col-"]:nth-child(n + 2):after {
      width: 100%;
      height: 1px;
      left: 0;
      top: -4px;
    }
}

@media (min-width: 768px) {
.grid-divider > [class*="col-"]:nth-child(n + 2):after {
      width: 1px;
      height: auto;
      left: -1px;
    }
}