.rdt_TableCol_Sortable, .rdt_TableCell{
    font-size:16px;
}

.rdt_TableHeadRow {
    background-color: #fafafa !important;
}

b {
    font-size: 11px;
    color: #bbb;
}

.info {
    padding: 20px;
}