.rdt_TableCol_Sortable, .rdt_TableCell{
    font-size:16px;
}

.rdt_TableHeadRow {
    background-color: #fafafa !important;
}

b {
    font-size: 11px;
    color: black;
}

.info {
    padding: 20px;
}

.border2 {
    border: 2px solid #4d7cfe!important;
}

.card {
    background-color: #f2f2f2 !important;
}

.rc-steps-item-description {
    color: black !important;
}

.card {
    border: none !important;
    border-bottom: 1px solid rgba(16, 142, 233, 0.4) !important;
}