.rdt_TableCol_Sortable, .rdt_TableCell{
    font-size:16px;
}

.rdt_TableHeadRow {
    background-color: #fafafa !important;
}

b {
    font-size: 11px;
    color: #bbb;
}

.info {
    padding: 20px;
}

.border2 {
    border: 2px solid #4d7cfe!important;
}

.card {
    background-color: #f2f2f2 !important;
}